* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: var(--night);

  font-weight: 500;
}

/* root colors */
:root {
  --drab-dark-brown: #554733ff;
  --raisin-black: #29292bff;
  --eerie-black: #1e2124ff;
  --night: #0f0e10ff;
  --magenta-pantone: #c8427bff;
  --red-munsell: #ec193cff;
  --cool-gray: #8695b2ff;
  --burnt-sienna: #eb6739ff;
}

.app {
  background-color: var(--eerie-black);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--red-munsell);
  border-bottom: 0.7px solid var(--red-munsell);
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  word-spacing: 20px;
  padding: 2.4rem 0;
}

h3 {
  color: var(--red-munsell);
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 24px;
  /* background-color: var(--raisin-black); */
}

.quest-list-container {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.quest-list-container ul {
  background-color: var(--burnt-sienna);
  list-style: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px;
}

.quest-list-container h3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.quest-add-form {
  background-color: var(--raisin-black);
  padding-top: 20px;
  margin-top: 30px;
  height: 250px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
}

.quest-add-form h3 {
  width: 100%;
  height: 20%;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.form-inputs-container {
  display: flex;
  justify-content: center;
}

.form-inputs-container input {
  margin-right: 30px;
  height: 50px;
  width: 30%;
  letter-spacing: 2px;
  outline: none;
  padding: 10px 20px;
  background-color: var(--raisin-black);
  color: yellow;
  border-bottom: 0.8px solid yellow;
  border-right: 0.8px solid yellow;
}

.form-inputs-container input::placeholder {
  color: yellow;
  letter-spacing: 2px;
}

.form-inputs-container button {
  width: 16%;
  border: none;
  background-color: var(--magenta-pantone);
  color: #fff;
  letter-spacing: 1.5px;
}

.quest {
  width: 100%;
  background-color: var(--raisin-black);
  /* margin: 10px 0; */
  padding: 20px 60px;
  display: flex;
  color: yellow;
  font-weight: 200;
  letter-spacing: 1.5px;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  /* border: 0.8px solid var(--burnt-sienna); */
  border-bottom: 0.8px solid var(--burnt-sienna);
  border-right: 0.8px solid var(--burnt-sienna);
  height: 100px;
}

.quest div {
  height: 100%;
  display: flex;
  align-items: center;
}

.quest input {
  margin-right: 20px;
}

.quest span {
  margin-right: 40px;
}

.quest button:first-of-type {
  height: 90%;
  width: 50%;
  margin-right: 30px;
  padding: 0 0;
  background-color: var(--magenta-pantone);
  border: 0.8px solid var(--burnt-sienna);
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #fff;
}

.quest-completed {
  text-decoration: line-through;
}

.quest-incompleted {
}

.delete-btn {
  background-color: dodgerblue;
  height: 90%;
  margin: 0 0;
  padding: 0 0;

  width: 150px;
  border: 0.8px solid var(--burnt-sienna);
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #fff;
}

.delete-btn-disabled {
  background-color: var(--cool-gray);
  height: 90%;
  margin: 0 0;
  padding: 0 0;
  width: 150px;
  border: 0.8px solid var(--burnt-sienna);
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #fff;
}

.quest-update-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.quest-update-form input[type='text'] {
  width: 60%;
  padding-left: 20px;
}
